[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-wx-oauth = "*"
"ed0a5ba" = {path = "./..", editable = true}
flask = "*"

[dev-packages]

[requires]
python_version = "3.8"
